# Guardian Shield — Ledger API Specification
# Crypto Hound LLC — API Endpoints for Append, Verify, Query, Export

openapi: "3.0.3"
info:
  title: "Guardian Shield Evidence Ledger API"
  version: "1.0.0"
  description: |
    REST API for Guardian Shield's append-only evidence ledger.
    Provides endpoints for appending evidence, verifying integrity,
    querying records, and exporting compliance bundles.
  contact:
    name: "Crypto Hound LLC"
    email: "api@cryptohound.com"
  license:
    name: "Proprietary"

servers:
  - url: "https://api.guardianshield.cryptohound.com/v1"
    description: "Production"
  - url: "https://api-staging.guardianshield.cryptohound.com/v1"
    description: "Staging"

security:
  - GPGSignature: []
  - BearerAuth: []

paths:
  /ledger/append:
    post:
      summary: "Append evidence to ledger"
      description: |
        Appends a new evidence entry to the immutable ledger.
        Requires GPG signature and valid authentication token.
      operationId: "appendEvidence"
      tags:
        - "Ledger"
      security:
        - GPGSignature: []
          BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppendRequest"
            example:
              case_id: "fraud_tx_20e65feb"
              bundle_id: "550e8400-e29b-41d4-a716-446655440000"
              evidence_type: "json"
              evidence_content: "base64_encoded_content"
              hash: "a948904f2f0f479b8f8564cbf12dac6b"
              signature: "-----BEGIN PGP SIGNATURE-----..."
              anchor: "blockchain_anchor:enabled"
              metadata:
                source: "fraud_monitor_agent"
                tags: ["mixer", "critical"]
      responses:
        "201":
          description: "Evidence appended successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppendResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: "Duplicate evidence hash"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /ledger/verify/{bundle_id}:
    get:
      summary: "Verify evidence bundle"
      description: |
        Verifies hash, signature, and blockchain anchor for a given evidence bundle.
        Public endpoint - no authentication required.
      operationId: "verifyBundle"
      tags:
        - "Verification"
      security: []
      parameters:
        - name: "bundle_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
          description: "Bundle ID to verify"
      responses:
        "200":
          description: "Verification result"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationResponse"
              example:
                bundle_id: "550e8400-e29b-41d4-a716-446655440000"
                hash_valid: true
                signature_valid: true
                anchor_status: "confirmed"
                anchor_details:
                  network: "Bitcoin"
                  transaction_id: "abc123..."
                  confirmations: 142
                timestamp: "2025-01-15T10:30:00Z"
        "404":
          $ref: "#/components/responses/NotFound"

  /ledger/verify/hash/{hash}:
    get:
      summary: "Verify evidence by hash"
      description: "Verify evidence exists and is valid by its SHA-256 hash"
      operationId: "verifyByHash"
      tags:
        - "Verification"
      security: []
      parameters:
        - name: "hash"
          in: "path"
          required: true
          schema:
            type: "string"
            pattern: "^[a-fA-F0-9]{64}$"
          description: "SHA-256 hash of evidence"
      responses:
        "200":
          description: "Verification result"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HashVerificationResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /ledger/query:
    get:
      summary: "Query ledger entries"
      description: "Query evidence entries with filters"
      operationId: "queryLedger"
      tags:
        - "Query"
      security:
        - BearerAuth: []
      parameters:
        - name: "case_id"
          in: "query"
          schema:
            type: "string"
          description: "Filter by case ID"
        - name: "severity"
          in: "query"
          schema:
            type: "array"
            items:
              type: "string"
              enum: ["critical", "high", "medium", "watchlist"]
          description: "Filter by severity levels"
        - name: "start_date"
          in: "query"
          schema:
            type: "string"
            format: "date"
          description: "Filter by start date (inclusive)"
        - name: "end_date"
          in: "query"
          schema:
            type: "string"
            format: "date"
          description: "Filter by end date (inclusive)"
        - name: "evidence_type"
          in: "query"
          schema:
            type: "string"
            enum: ["json", "yaml", "png", "pdfa", "csv"]
          description: "Filter by evidence type"
        - name: "status"
          in: "query"
          schema:
            type: "string"
            enum: ["pending", "sealed", "archived", "exported"]
          description: "Filter by status"
        - name: "page"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            default: 1
          description: "Page number"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
          description: "Results per page"
        - name: "sort"
          in: "query"
          schema:
            type: "string"
            enum: ["created_at:asc", "created_at:desc", "severity:asc", "severity:desc"]
            default: "created_at:desc"
          description: "Sort order"
      responses:
        "200":
          description: "Query results"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /ledger/entry/{entry_id}:
    get:
      summary: "Get ledger entry"
      description: "Retrieve a specific ledger entry by ID"
      operationId: "getEntry"
      tags:
        - "Query"
      security:
        - BearerAuth: []
      parameters:
        - name: "entry_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
          description: "Entry ID"
      responses:
        "200":
          description: "Entry details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /ledger/export:
    post:
      summary: "Export compliance bundle"
      description: |
        Export evidence bundle in requested format.
        Generates PDF/A compliant reports with full audit trail.
      operationId: "exportBundle"
      tags:
        - "Export"
      security:
        - GPGSignature: []
          BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportRequest"
            example:
              format: "pdfa"
              case_id: "fraud_tx_20e65feb"
              include:
                - "event_log"
                - "alert_trace"
                - "dashboard_snapshot"
                - "pdf_report"
              date_range:
                start: "2025-01-01"
                end: "2025-01-31"
      responses:
        "200":
          description: "Export successful"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExportResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /ledger/export/{export_id}/download:
    get:
      summary: "Download exported bundle"
      description: "Download a previously generated export"
      operationId: "downloadExport"
      tags:
        - "Export"
      security:
        - BearerAuth: []
      parameters:
        - name: "export_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
          description: "Export ID"
      responses:
        "200":
          description: "Export file"
          content:
            application/pdf:
              schema:
                type: "string"
                format: "binary"
            application/zip:
              schema:
                type: "string"
                format: "binary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /ledger/blocks:
    get:
      summary: "List ledger blocks"
      description: "List ledger blocks for chain verification"
      operationId: "listBlocks"
      tags:
        - "Blocks"
      security:
        - BearerAuth: []
      parameters:
        - name: "page"
          in: "query"
          schema:
            type: "integer"
            default: 1
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            default: 20
      responses:
        "200":
          description: "Block list"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /ledger/blocks/{block_id}:
    get:
      summary: "Get block details"
      description: "Get detailed information about a specific block"
      operationId: "getBlock"
      tags:
        - "Blocks"
      security:
        - BearerAuth: []
      parameters:
        - name: "block_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: "Block details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Block"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /ledger/integrity:
    get:
      summary: "Check ledger integrity"
      description: "Verify hash chain integrity of entire ledger"
      operationId: "checkIntegrity"
      tags:
        - "Verification"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Integrity check result"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrityResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/profile:
    get:
      summary: "Get user profile"
      description: "Retrieve the authenticated user's profile information"
      operationId: "getUserProfile"
      tags:
        - "User Profile"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "User profile retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
    
    patch:
      summary: "Update user profile"
      description: "Update the authenticated user's profile preferences"
      operationId: "updateUserProfile"
      tags:
        - "User Profile"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                preferences:
                  $ref: "#/components/schemas/UserPreferences"
      responses:
        "200":
          description: "Profile updated successfully"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                  message:
                    type: "string"
                  updated_fields:
                    type: "array"
                    items:
                      type: "string"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/profile/notifications:
    patch:
      summary: "Update notification preferences"
      description: "Update the user's notification settings"
      operationId: "updateNotificationPreferences"
      tags:
        - "User Profile"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationSettings"
      responses:
        "200":
          description: "Notification preferences updated"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                  message:
                    type: "string"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/profile/photo:
    post:
      summary: "Upload profile photo"
      description: "Upload or update the user's profile photo"
      operationId: "uploadProfilePhoto"
      tags:
        - "User Profile"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: "object"
              properties:
                photo:
                  type: "string"
                  format: "binary"
      responses:
        "200":
          description: "Photo uploaded successfully"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                  avatar_url:
                    type: "string"
                  thumbnail_url:
                    type: "string"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          description: "File too large"

  /users/profile/activity:
    get:
      summary: "Get user activity log"
      description: "Retrieve the user's activity history"
      operationId: "getUserActivity"
      tags:
        - "User Profile"
      security:
        - BearerAuth: []
      parameters:
        - name: "page"
          in: "query"
          schema:
            type: "integer"
            default: 1
        - name: "per_page"
          in: "query"
          schema:
            type: "integer"
            default: 20
            maximum: 100
        - name: "type"
          in: "query"
          schema:
            type: "string"
            enum: ["all", "profile_update", "login", "logout", "evidence_access", "report_download"]
        - name: "start_date"
          in: "query"
          schema:
            type: "string"
            format: "date"
      responses:
        "200":
          description: "Activity log retrieved"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  activities:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Activity"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/profile/sessions:
    get:
      summary: "Get active sessions"
      description: "List all active user sessions"
      operationId: "getActiveSessions"
      tags:
        - "User Profile"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Active sessions retrieved"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  current_session:
                    $ref: "#/components/schemas/Session"
                  other_sessions:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Session"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/profile/sessions/{session_id}:
    delete:
      summary: "Revoke session"
      description: "Revoke a specific user session"
      operationId: "revokeSession"
      tags:
        - "User Profile"
      security:
        - BearerAuth: []
      parameters:
        - name: "session_id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Session revoked successfully"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                  message:
                    type: "string"
                  session_id:
                    type: "string"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /users/profile/api-keys:
    get:
      summary: "List API keys"
      description: "List all API keys for the authenticated user"
      operationId: "listAPIKeys"
      tags:
        - "User Profile"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "API keys retrieved"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  api_keys:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/APIKey"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "Role does not have permission to create API keys"
    
    post:
      summary: "Create API key"
      description: "Create a new API key"
      operationId: "createAPIKey"
      tags:
        - "User Profile"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required: ["name", "environment", "scopes"]
              properties:
                name:
                  type: "string"
                  minLength: 3
                  maxLength: 50
                environment:
                  type: "string"
                  enum: ["production", "development"]
                scopes:
                  type: "array"
                  items:
                    type: "string"
                    enum: ["read:ledger", "verify:evidence", "export:reports", "read:drills", "read:alerts", "read:audit"]
                expires_at:
                  type: "string"
                  format: "date-time"
                  nullable: true
      responses:
        "201":
          description: "API key created"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                  api_key:
                    type: "object"
                    properties:
                      id:
                        type: "string"
                      name:
                        type: "string"
                      key:
                        type: "string"
                        description: "Full API key - only shown once"
                      environment:
                        type: "string"
                      scopes:
                        type: "array"
                        items:
                          type: "string"
                  warning:
                    type: "string"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /users/profile/api-keys/{key_id}:
    delete:
      summary: "Revoke API key"
      description: "Revoke a specific API key"
      operationId: "revokeAPIKey"
      tags:
        - "User Profile"
      security:
        - BearerAuth: []
      parameters:
        - name: "key_id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "API key revoked"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                  message:
                    type: "string"
                  key_id:
                    type: "string"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /health:
    get:
      summary: "Health check"
      description: "API health check endpoint"
      operationId: "healthCheck"
      tags:
        - "System"
      security: []
      responses:
        "200":
          description: "Healthy"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  status:
                    type: "string"
                    example: "healthy"
                  version:
                    type: "string"
                    example: "1.0.0"
                  timestamp:
                    type: "string"
                    format: "date-time"

components:
  securitySchemes:
    BearerAuth:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
      description: "JWT token for authentication"
      
    GPGSignature:
      type: "apiKey"
      in: "header"
      name: "X-GPG-Signature"
      description: "GPG signature of request body"

  schemas:
    AppendRequest:
      type: "object"
      required:
        - "case_id"
        - "evidence_type"
        - "evidence_content"
        - "hash"
        - "signature"
      properties:
        case_id:
          type: "string"
          description: "Associated fraud case ID"
        bundle_id:
          type: "string"
          format: "uuid"
          description: "Optional bundle ID"
        evidence_type:
          type: "string"
          enum: ["json", "yaml", "png", "pdfa", "csv"]
        evidence_content:
          type: "string"
          format: "byte"
          description: "Base64-encoded evidence content"
        hash:
          type: "string"
          pattern: "^[a-fA-F0-9]{64}$"
          description: "SHA-256 hash of evidence"
        signature:
          type: "string"
          description: "GPG signature of evidence"
        anchor:
          type: "string"
          enum: ["blockchain_anchor:enabled", "blockchain_anchor:disabled"]
          default: "blockchain_anchor:enabled"
        metadata:
          type: "object"
          additionalProperties: true

    AppendResponse:
      type: "object"
      properties:
        status:
          type: "string"
          example: "success"
        entry_id:
          type: "string"
          format: "uuid"
        block_id:
          type: "string"
          format: "uuid"
        parent_hash:
          type: "string"
        timestamp:
          type: "string"
          format: "date-time"

    VerificationResponse:
      type: "object"
      properties:
        bundle_id:
          type: "string"
          format: "uuid"
        hash_valid:
          type: "boolean"
        signature_valid:
          type: "boolean"
        anchor_status:
          type: "string"
          enum: ["pending", "anchored", "confirmed", "not_anchored"]
        anchor_details:
          type: "object"
          properties:
            network:
              type: "string"
            transaction_id:
              type: "string"
            confirmations:
              type: "integer"
        timestamp:
          type: "string"
          format: "date-time"

    HashVerificationResponse:
      type: "object"
      properties:
        hash:
          type: "string"
        exists:
          type: "boolean"
        entry_id:
          type: "string"
          format: "uuid"
        signature_valid:
          type: "boolean"
        anchor_status:
          type: "string"
        timestamp:
          type: "string"
          format: "date-time"

    QueryResponse:
      type: "object"
      properties:
        entries:
          type: "array"
          items:
            $ref: "#/components/schemas/LedgerEntry"
        pagination:
          $ref: "#/components/schemas/Pagination"

    LedgerEntry:
      type: "object"
      properties:
        entry_id:
          type: "string"
          format: "uuid"
        block_id:
          type: "string"
          format: "uuid"
        case_id:
          type: "string"
        bundle_id:
          type: "string"
          format: "uuid"
        evidence_type:
          type: "string"
        evidence_hash:
          type: "string"
        severity:
          type: "string"
        status:
          type: "string"
        signature:
          type: "string"
        anchor_status:
          type: "string"
        created_at:
          type: "string"
          format: "date-time"
        created_by:
          type: "string"
        metadata:
          type: "object"

    ExportRequest:
      type: "object"
      required:
        - "format"
      properties:
        format:
          type: "string"
          enum: ["pdfa", "json", "zip"]
        case_id:
          type: "string"
        bundle_id:
          type: "string"
          format: "uuid"
        include:
          type: "array"
          items:
            type: "string"
            enum: ["event_log", "alert_trace", "dashboard_snapshot", "pdf_report"]
        date_range:
          type: "object"
          properties:
            start:
              type: "string"
              format: "date"
            end:
              type: "string"
              format: "date"

    ExportResponse:
      type: "object"
      properties:
        export_id:
          type: "string"
          format: "uuid"
        status:
          type: "string"
          enum: ["pending", "processing", "completed", "failed"]
        file:
          type: "string"
          description: "Filename"
        hash:
          type: "string"
          description: "SHA-256 hash of export"
        signature:
          type: "string"
          description: "GPG signature"
        anchor:
          type: "string"
          enum: ["blockchain_anchor:enabled", "blockchain_anchor:disabled"]
        download_url:
          type: "string"
          format: "uri"
        expires_at:
          type: "string"
          format: "date-time"

    Block:
      type: "object"
      properties:
        block_id:
          type: "string"
          format: "uuid"
        parent_hash:
          type: "string"
        timestamp:
          type: "string"
          format: "date-time"
        merkle_root:
          type: "string"
        entry_count:
          type: "integer"
        block_signature:
          type: "string"
        anchor_status:
          type: "string"
        anchor_references:
          type: "array"
          items:
            type: "object"
            properties:
              network:
                type: "string"
              transaction_id:
                type: "string"
              confirmations:
                type: "integer"

    BlockListResponse:
      type: "object"
      properties:
        blocks:
          type: "array"
          items:
            $ref: "#/components/schemas/Block"
        pagination:
          $ref: "#/components/schemas/Pagination"

    IntegrityResponse:
      type: "object"
      properties:
        status:
          type: "string"
          enum: ["valid", "invalid"]
        total_blocks:
          type: "integer"
        verified_blocks:
          type: "integer"
        total_entries:
          type: "integer"
        last_verified:
          type: "string"
          format: "date-time"
        issues:
          type: "array"
          items:
            type: "object"
            properties:
              block_id:
                type: "string"
              issue:
                type: "string"

    Pagination:
      type: "object"
      properties:
        page:
          type: "integer"
        limit:
          type: "integer"
        total:
          type: "integer"
        total_pages:
          type: "integer"
        has_next:
          type: "boolean"
        has_prev:
          type: "boolean"

    UserProfile:
      type: "object"
      properties:
        user_id:
          type: "string"
        name:
          type: "string"
        email:
          type: "string"
          format: "email"
        role:
          type: "string"
          enum: ["regulator", "auditor", "investor", "viewer"]
        organization:
          type: "string"
        avatar_url:
          type: "string"
          format: "uri"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
        preferences:
          $ref: "#/components/schemas/UserPreferences"
        notifications:
          $ref: "#/components/schemas/NotificationSettings"
        security:
          type: "object"
          properties:
            two_factor_enabled:
              type: "boolean"
            two_factor_method:
              type: "string"
              enum: ["totp", "sms"]
            active_sessions:
              type: "integer"
            api_keys_count:
              type: "integer"

    UserPreferences:
      type: "object"
      properties:
        timezone:
          type: "string"
          example: "America/New_York"
        language:
          type: "string"
          example: "en"
        contact_email:
          type: "string"
          format: "email"
        contact_phone:
          type: "string"

    NotificationSettings:
      type: "object"
      properties:
        email:
          type: "object"
          properties:
            critical_alerts:
              type: "boolean"
            high_alerts:
              type: "boolean"
            medium_alerts:
              type: "boolean"
            weekly_reports:
              type: "boolean"
            drill_notifications:
              type: "boolean"
            system_maintenance:
              type: "boolean"
        in_app:
          type: "object"
          properties:
            alert_updates:
              type: "boolean"
            system_announcements:
              type: "boolean"
            drill_reminders:
              type: "boolean"
            report_ready:
              type: "boolean"
        delivery:
          type: "object"
          properties:
            email_digest:
              type: "string"
              enum: ["immediate", "hourly", "daily"]
            quiet_hours:
              type: "object"
              properties:
                enabled:
                  type: "boolean"
                start:
                  type: "string"
                  pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"
                end:
                  type: "string"
                  pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"
                timezone:
                  type: "string"
            emergency_override:
              type: "boolean"

    Activity:
      type: "object"
      properties:
        id:
          type: "string"
        type:
          type: "string"
          enum: ["profile_update", "login", "logout", "evidence_access", "report_download", "verification", "api_key_operation"]
        description:
          type: "string"
        timestamp:
          type: "string"
          format: "date-time"
        ip_address:
          type: "string"
        user_agent:
          type: "string"
        metadata:
          type: "object"
          additionalProperties: true

    Session:
      type: "object"
      properties:
        id:
          type: "string"
        device:
          type: "string"
        ip_address:
          type: "string"
        location:
          type: "string"
        created_at:
          type: "string"
          format: "date-time"
        last_active:
          type: "string"
          format: "date-time"

    APIKey:
      type: "object"
      properties:
        id:
          type: "string"
        name:
          type: "string"
        key_prefix:
          type: "string"
          description: "First 20 characters of the API key"
        environment:
          type: "string"
          enum: ["production", "development"]
        created_at:
          type: "string"
          format: "date-time"
        last_used:
          type: "string"
          format: "date-time"
          nullable: true
        scopes:
          type: "array"
          items:
            type: "string"
        expires_at:
          type: "string"
          format: "date-time"
          nullable: true

    Error:
      type: "object"
      properties:
        code:
          type: "string"
        message:
          type: "string"
        details:
          type: "object"

  responses:
    BadRequest:
      description: "Bad request"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: "BAD_REQUEST"
            message: "Invalid request parameters"
            
    Unauthorized:
      description: "Unauthorized"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: "UNAUTHORIZED"
            message: "Invalid or missing authentication"
            
    Forbidden:
      description: "Forbidden"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: "FORBIDDEN"
            message: "Insufficient permissions"
            
    NotFound:
      description: "Not found"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: "NOT_FOUND"
            message: "Resource not found"
